<header>
	<h1>technoBabble</h1>
	{{> navigation isAuthorized=isAuthorized }}
</header>

<br>
<input type="text" id="postTitle" placeholder="Title">
<textarea id="newPost" placeholder="Body"></textarea>

<button id="newPostSubmit">Submit</button>

<script src="js/handleNewPost.js"></script>