<header>
	<h1>technoBabble</h1>
	{{> navigation isAuthorized=isAuthorized }}
</header>

<h3>{{post.title}}</h3>
{{post.body}}
<hr>
<textarea id="postComment" placeholder="Comment"></textarea>
<button id="newCommentSubmit">Submit</button>

<script src="../js/handleNewComment.js"></script>