<header>
	<h1>technoBabble</h1>
	{{> navigation isAuthorized=isAuthorized }}
</header>

{{#each posts}}
	<div>
		<a href="dashboardPost/{{this.id}}">{{this.title}}</a>
		<p class="userPost">{{this.body}}</p>
		<hr>
	</div>
{{/each}}

<button id="addPost" onclick="window.location.replace('/addPost');">Add Post</button>